extends layout

block content
  
  .container
    .row
      .col-md-4
        
        img(src="images/logo-small.png" class="logo")
        
        form(method="post" action="")
          .input-group
            input(name="search" type="text" id="search" class="form-control" placeholder="Search for...")
            span(class="input-group-btn")
              input(type="submit" class="btn btn-default" value="GO")
        br
        .dropdown  
          if cuisine != "All"
            button(class="btn input-block-level form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
             !{cuisine} &nbsp;
             span(class="caret")
          else
            button(class="btn input-block-level form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
             ="Browse by cuisine "
             span(class="caret")
          
          ul(class="dropdown-menu" aria-labelledby="dropdownMenu1")
            - each thisCuisine, x in cuisines_list
              li
                a(href="?cuisine="+thisCuisine) #{thisCuisine} 
        br
        .dropdown
          button(class="btn input-block-level form-control" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
            if(borough)
             !{borough} &nbsp;
             span(class="caret")
            else
             ="Browse by Borough "
             span(class="caret")
            
          ul(class="dropdown-menu" aria-labelledby="dropdownMenu2")
            - each borough, i in boroughs_list
              li
                a(href="?cuisine=#{cuisine}&borough="+borough) #{borough}
        
        br
        #grades
          p(class='lead')
           ="Filter by Grade"
           br
           - each grade, i in grades
             a(href="?cuisine=#{cuisine}&borough=#{borough}&grade=#{grade}") #{grade}  
        
        br
        #scores
          p(class='lead')
           A
        
        br
        div(class="row carousel-holder boxed")
         .col-md-12
          div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
            ol(class="carousel-indicators")
              li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
              li(data-target="#carousel-example-generic" data-slide-to="1")
              li(data-target="#carousel-example-generic" data-slide-to="2")
            .carousel-inner
              div(class="item active")
                img(class="slide-image" src="images/01.jpg" alt="")
              .item
                img(class="slide-image" src="images/02.jpg" alt="")
              .item
                img(class="slide-image" src="images/03.jpg" alt="")

      .col-md-8
        if search
          p(class="lead") Your search: #{search} found #{restaurants.length} results.
        else
          p(class="lead") Cuisine: #{cuisine}, at: #{borough}, grade: #{grade} has #{restaurants.length} results.
    
        #map
        br
        table(class="table")
         thead
          th Name
          th Address
          th Borough
          th Rate
         - each restaurant, i in restaurants
          tr
            td=restaurant.name 
            td=restaurant.address.street 
            td=restaurant.borough
            td *****
            script.
              $(document).ready(function(){
                coords = ("!{restaurant.address.coord}").split(",");
                addMarker(parseFloat(coords[1]).toFixed(6), parseFloat(coords[0]).toFixed(6), "!{restaurant.name}");
              });