extends layout

block content
  h1 #{title}
  
  h2 Browse by cuisine.
  - each thisCuisine, x in cuisines_list
    a(href="?cuisine="+thisCuisine) #{ thisCuisine } | 

  h2 Cuisine: #{cuisine}

  h2 Filter by borough.
  - each borough, i in boroughs_list
    a(href="?cuisine=#{cuisine}&borough="+borough) #{ borough } | 

  div(id="map")

  ul 
  - each restaurant, i in restaurants
    li= restaurant.name +" - "+ restaurant.address.street + " - " + restaurant.borough
            