extends layout

block content
  h1 #{title}
  
  form(method="post" action="http://localhost:3000/search")
    input(name="search" type="text" id="search" value="")
    input(type="submit" value="Search")
  
  h2 Browse by cuisine.
  - each thisCuisine, x in cuisines_list
    a(href="?cuisine="+thisCuisine) #{ thisCuisine } | 

  h2 Cuisine: #{cuisine}

  h2 Filter by borough.
  - each borough, i in boroughs_list
    a(href="?cuisine=#{cuisine}&borough="+borough) #{ borough } | 

  div(id="map")

  ul 
  - each restaurant, i in restaurants
    li= restaurant.name +" - "+ restaurant.address.street + " - " + restaurant.borough
    script.
      $(document).ready(function(){
        coords = ("!{restaurant.address.coord}").split(",");
        addMarker(parseFloat(coords[1]).toFixed(6), parseFloat(coords[0]).toFixed(6), "!{restaurant.name}");
      });